<h1>Competitive events</h1>


<div class="container">
  <div class="row mar-bot">
    <div class="col">
      <app-event-highlight
        position_url="assets/silver.png"
        description="CEGEP math competition (COMC)"
      ></app-event-highlight>
    </div>
    <div class="col">
      <app-event-highlight
        position_url="assets/silver.png"
        description="pitch competition for presenting Unilinks"
      ></app-event-highlight>
    </div>
  </div>
  <div class="row mar-bot">
    <div class="col">
      <app-event-highlight
        position_url="5th/115"
        description="HackerRank competition in my university"
      ></app-event-highlight>
    </div>
    <div class="col">
      <app-event-highlight
        position_url="@soul44"
        description="1975 elo in chess on lichess.org"
      ></app-event-highlight>
    </div>
  </div>
</div>

<div class="mar-bot">
  <h3><strong>Hackathons</strong></h3>
<ul>
  <li><strong>Google Tech Challenge</strong></li>
  <li>
    <strong>McGill Physics Hackathon (4th place): </strong>Angular velocity in arbitrary
    dimensions
  </li>
  <li><strong>AI Hackathon at UdeM (6th place)</strong></li>
  <li>
    <strong>HackQC (3 days):</strong> environmental website made with Django for backend
  </li>
  <li><strong>ConcordAI :</strong> Artificial Intelligence Hackathon</li>
  <li><strong>LHGames</strong></li>
  <li><strong>Hackathon BDC</strong></li>
  <li>2 Capture The Flag</li>
</ul>
</div>


<!-- 
<div id="languages-container">
  <h3><strong>Technical Skills</strong></h3>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Languages</th>
        <th scope="col">Frameworks</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Python</th>
        <td>Angular</td>
      </tr>
      <tr>
        <th scope="row">Java</th>
        <td>React Native</td>
      </tr>
      <tr>
        <th scope="row">Typescript</th>
        <td>Flask</td>
      </tr>
      <tr>
        <th scope="row">C/C++</th>
        <td>Django</td>
      </tr>
      <tr>
        <th scope="row">Kotlin</th>
        <td>Ionic</td>
      </tr>
      <tr>
        <th scope="row">HTML5/CSS</th>
      </tr>
    </tbody>
  </table>
</div>

 -->
