h1 {
  text-align: center;
  padding: 100px 0 10px 0;
  font-weight: bolder;
  font-size: 75px;
}

h3{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

ul{
  padding-left : 30px;
  padding-right : 30px;
}
li{
  list-style-type: none;
  text-align: center;
}

#languages-container{
  max-width: 800px;
  margin: 50px auto;
  
}
.progress{
  width : 50%;
}
td, th {
  text-align: center;   
}
tbody th{
  font-weight: normal;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size : 30px;
  }
}