@import "../../../assets/w3.css";

#contact {
  background-color: black;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 100%;
}

.footer {
  width: 100%;
  background-color: black;
}

div.social {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  height: fit-content;
}
div.social:hover {
  cursor: pointer;
  opacity: 0.7;
}

.link-social {
  width: 30vw;
  margin: 5px;
  display: block;
}

i.social {
  margin: auto;
}
.title-cv {
  font-size: 35px;
  margin-top: auto;
  margin-bottom: auto;
}
span {
  font-family: Arial, Helvetica, sans-serif;
}

.w3-section p {
  color: #eee;
}

@media only screen and (max-width: 600px) {
  #contact {
    margin: 0;
  }
  span {
    display: none;
  }
}
