<!-- Contact Section -->
<div class="footer">
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-light-grey">Contact Me</h2>
    <hr style="width: 200px" class="w3-opacity" />

    <div class="w3-section">
      <p>
        <i
          class="
            fa fa-map-marker fa-fw
            w3-text-white w3-xxlarge w3-margin-right
          "
        ></i>Montreal, Canada
      </p>
      <p>
        <i
          class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"
        ></i
        >(438)337-3789
      </p>
      <p>
        <i
          class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"
        >
        </i
        >souleiman.ayoub@polymtl.ca
      </p>
    </div>
    <div style="display: flex">
      <a href="https://www.facebook.com/souleiman.ayoub.9" class="link-social"
        ><div class="social" style="background-color: #3b5998">
          <i
            class="fa fa-facebook-square fa-fw w3-text-white w3-xxlarge"
            style="font-size: 50px !important"
          ></i></div
      ></a>
      <a
        href="https://www.linkedin.com/in/souleiman-ayoub-b82748165/"
        class="link-social"
        ><div class="social" style="background-color: #0e76a8">
          <i
            class="fa fa-linkedin-square fa-fw w3-text-white w3-xxlarge"
            style="font-size: 50px !important"
          ></i></div
      ></a>
      <a href="https://github.com/souleiman2" class="link-social"
        ><div class="social" style="background-color: #101010">
          <i
            class="fa fa-github fa-fw w3-text-white w3-xxlarge"
            style="font-size: 50px !important"
          ></i></div
      ></a>
      <a download href="assets/cv_english.pdf" class="link-social"
        ><div class="social" style="background-color: #b30b00">
          <i
            class="fa fa-file-pdf-o w3-xxlarge w3-text-white"
            style="font-size: 50px !important"
          >
            <span class="title-cv"> EN</span></i
          >
        </div></a
      >
      <a download href="assets/cv_french.pdf" class="link-social"
        ><div class="social" style="background-color: #b30b00">
          <i
            class="fa fa-file-pdf-o w3-xxlarge w3-text-white"
            style="font-size: 50px !important"
          >
            <span class="title-cv"> FR</span></i
          >
        </div></a
      >
    </div>
  </div>
</div>
