<div class="project-item">
  <div class="left-side">
    <a href="{{ default_url }}" target="_blank">
      <img src="{{ project.img_url }}" alt="" />
    </a>
  </div>
  <div class="right-side">
    <p id="title-label">{{ languageService.label_voc.project_featured }}</p>
    <a href="{{ default_url }}">
      <p id="title">{{ project.title }}</p>
    </a>

    <p id="description">{{ project.description }}</p>
    <div id="dev-tools">
      <app-badge
        *ngFor="let item of project.dev_tools"
        label="{{ item }}"
      ></app-badge>
    </div>

    <div id="links">
      <app-link-button
        *ngIf="project.git_url"
        url="{{ project.git_url }}"
        icon_class="fa fa-github fa-fw w3-text-white w3-xxlarge"
        label={{languageService.label_voc.project_code}}
      ></app-link-button>
      <app-link-button
        *ngIf="project.demo_url"
        url="{{ project.demo_url }}"
        icon_class="fa fa-external-link fa-fw w3-text-white w3-xxlarge"
        label={{languageService.label_voc.project_demo}}
      ></app-link-button>
    </div>
  </div>
</div>
