<app-carousel id="start"></app-carousel>

<app-projects id="projects"></app-projects>

<app-education id="education"></app-education>

<app-competitive-events id="events"></app-competitive-events>

<app-footer id="infos"></app-footer>

<nav>
    <ul>
        <li><a href="#start">START</a></li>
        <li><a href="#projects">PROJECTS</a></li>
        <li><a href="#education">TIMELINE</a></li>
        <li><a href="#events">EVENTS</a></li>
        <li><a href="#infos">INFO</a></li>
    </ul>
</nav>