nav {
  position: fixed;
  right: 30px;
  top: 50px;
  color: white;
  text-align: right;
}

li {
  font-size: 25px;
  list-style-type: none;
  color: grey;
  font-weight: 1000;
}

li a:hover {
  text-decoration: none;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073,
    0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}
li a {
  color: white;
  background-color: black;
  padding: 0 10px;
}

@media only screen and (max-width: 600px) {
  li {
    font-size: 20px;
    font-weight: 1000;
    padding-top : 1px;
    padding-bottom : 1px;
  }
  nav {
    right: 10px;
    top: 30px;
  }
}
