/* img {
    position: relative;
    transform: translate(3em, -5em);
    -webkit-clip-path: polygon(48% 0, 100% 20%, 74% 91%, 0 76%);
    clip-path: polygon(48% 0, 100% 20%, 74% 91%, 0 76%);
}

.line-1 {
    width: fit-content;
    margin: 10px auto;
    padding: 4px;
    font-size: 250%;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.anim-typewriter {
    animation: typewriter 3s normal;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 500ms;
}
.middle {
    display: inline-block;
    transform: translate(0, -11em);
    max-width: 400px;
}
.row {
    width: 100%;
    display: flex;
    transform: translate(0, -7em);
}
.containerInfos {
    display: block;
    max-width: 400px;
}
.colored {
    color: #23aaf2;
}
.icons {
    position: fixed;
    display: grid;
    bottom: 0;
    right: 0;
    margin-right: 4em;
}
.icons i{
    font-size: 50px;
    margin-top: 2px;
    margin-bottom: 10px;
}
.fab{
    cursor: pointer;
}
#animMessage {
    max-width: 100%;
    width: 100%;
    margin-top: 30px;
}

.fa-facebook-square{
    color : #3b5998
}
.fa-github{
    color : white;
}
.fa-linkedin{
    color : #0072b1;
}

@keyframes typewriter {
    0% {
        width: 0;
    }
    85% {
        width: 11em;
    }
    100% {
        width: 11em;
    }
}
@media only screen and (max-width: 1040px) {
    p{
        color : black
    }
    .row {
        transform: translate(0, -11em);
    }
    img{
        position : static;
        transform: none;
        clip-path: none;
    }

}
@media only screen and (max-width: 800px) {
    .line-1{
        display: none;
    }

}
@media only screen and (max-width: 670px) {
    .row, .middle {
        transform: none;
    }
    .row p, .middle p{
        color : white;
    }
    img{
        width : 100%;
    }
    .icons{
        margin-right: 0;
    }
}
 */


.w3-row-padding img {margin-bottom: 12px}

