<!-- Header/Home -->
<header class="w3-container w3-padding-32 w3-center w3-black" id="home">
  <h1 class="w3-jumbo"><span class="w3-hide-small">I'm</span> Souleiman Ayoub</h1>
  <p>Software Engineer student</p>
  <img
    src="assets/download.png"
    alt="boy"
    class="w3-image"
    width="600"
    height="650"
  />
</header>

<!-- About Section -->
<div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
  <h2 class="w3-text-light-grey">Summary</h2>
  <hr style="width: 200px" class="w3-opacity" />
  <ul>
    <li>Software Engineering student at Polytechnique Montreal</li>
    <li>7 years experience in programmation</li>
    <li>Graduation planned for December 2021</li>
    <li>Familiar with the Agile and Devops practices</li>
    <li>Honest, hard-working, passionate and ease in interpersonal relations</li>
  </ul>

  <!-- Education -->
  <h2 class="w3-text-light-grey">Education</h2>
  <hr style="width: 200px; margin-top: 0;" class="w3-opacity" />
  <div style="margin-left: 15px;">
    <app-item-exp [title]="'dmsaklda'" [subTitle]="'dmskla'" [elemList]="['dasmas', 'dasdlka']" [techs]="'Python'" [time]="'Été'"></app-item-exp>
    <app-item-exp [title]="'dmsaklda'" [subTitle]="'dmskla'" [elemList]="['dasmas', 'dasdlka']" [techs]="'Python'"></app-item-exp>  
  </div>




  
  <!-- Grid for pricing tables -->
  <h3 class="w3-padding-16 w3-text-light-grey">Technical Skills</h3>
  <div class="w3-row-padding" style="margin: 0 -16px">
    <div class="w3-half w3-margin-bottom">
      <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
        <li class="w3-dark-grey w3-xlarge w3-padding-32">Languages</li>
        <li class="w3-padding-16">Python</li>
        <li class="w3-padding-16">Java</li>
        <li class="w3-padding-16">Javascript</li>
        <li class="w3-padding-16">C/C++</li>
        <li class="w3-padding-16">Julia</li>
        <li class="w3-padding-16">HTML5/CSS</li>
      </ul>
    </div>

    <div class="w3-half">
      <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
        <li class="w3-dark-grey w3-xlarge w3-padding-32">Frameworks</li>
        <li class="w3-padding-16">Ionic</li>
        <li class="w3-padding-16">Angular</li>
        <li class="w3-padding-16">React Native</li>
        <li class="w3-padding-16">Node.js</li>
        <li class="w3-padding-16">Flask</li>
        <li class="w3-padding-16">Django</li>
        
      </ul>
    </div>
    <!-- End Grid/Pricing tables -->
  </div>

<!-- Contact Section -->
<div class="w3-padding-64 w3-content w3-text-grey" id="contact">
  <h2 class="w3-text-light-grey">Contact Me</h2>
  <hr style="width: 200px" class="w3-opacity" />

  <div class="w3-section">
    <p>
      <i
        class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"
      ></i>
      Chicago, US
    </p>
    <p>
      <i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i>
      Phone: +00 151515
    </p>
    <p>
      <i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right">
      </i>
      Email: mail@mail.com
    </p>
  </div>
  <br />
  
</div>

<!-- Footer -->
<footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
</footer>

<!-- END PAGE CONTENT -->
