<!-- Header/Home -->
<header class="w3-container w3-padding-32 w3-center w3-black" id="home">
  <h1 class="w3-jumbo"><span class="w3-hide-small">I'm</span> Souleiman Ayoub</h1>
  <p>Software Engineer student</p>
  <img
    src="assets/download.png"
    alt="boy"
    class="w3-image"
    width="600"
    height="650"
  />
</header>

<!-- About Section -->
<div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
  <h2 class="w3-text-light-grey">Summary</h2>
  <hr style="width: 200px" class="w3-opacity" />
  <ul>
    <li>Software Engineering student at Polytechnique Montreal</li>
    <li>7 years experience in programmation</li>
    <li>Graduation planned for December 2021</li>
    <li>Familiar with the Agile and Devops practices</li>
    <li>Honest, hard-working, passionate and ease in interpersonal relations</li>
  </ul>
  <br style="margin-bottom: 40px;">
  <!-- Education -->
  <h2 class="w3-text-light-grey">Education</h2>
  <hr style="width: 200px; margin-top: 0;" class="w3-opacity" />
  <div style="margin-left: 15px;" *ngFor="let item of education">
    <app-item-exp  title={{item.title}} subTitle={{item.subTitle}} [elemList]="item.elemList" techs={{item.techs}} time={{item.time}}></app-item-exp>
  </div>
  <br style="margin-bottom: 30px;">

  <!-- Experience -->
  <h2 class="w3-text-light-grey">Experience</h2>
  <hr style="width: 200px; margin-top: 0;" class="w3-opacity" />
  <div style="margin-left: 15px;">
    <app-item-exp *ngFor="let item of this.experience" title={{item.title}} subTitle={{item.subTitle}} [elemList]="item.elemList" techs={{item.techs}} time={{item.time}}></app-item-exp>
  </div>
  <br style="margin-bottom: 30px;">

  <h2 class="w3-text-light-grey">Competitive events</h2>
  <hr style="width: 200px; margin-top: 0;" class="w3-opacity" />
  <div style="margin-left: 15px;" class="events">
    <p><strong>2nd place </strong> in a CEGEP math competition (COMC)</p>
    <p><strong>2nd place </strong> in a pitch competition at Polytechnique for presenting Unilinks</p>
    <p><strong>5th/115 </strong> in a HackerRank competition in my university</p>
    <p><strong>Chess: </strong> Repeatedly winning regional and provincial tournaments in my division and currently have a score of 1714 on lichess.org</p>
    <br>
    <p><strong>Hackathons:</strong></p>
    <ul>
      <li><strong>Google Tech Challenge</strong></li>
      <li><strong>McGill Physics Hackathon: </strong>Angular velocity in arbitrary dimensions (on github) 4th place</li>
      <li><strong>AI Hackathon at UdeM </strong>6th place</li>
      <li><strong>HackQC </strong>(3 days): environmental website that took data from a database and used a back-end made with Django</li>
      <li><strong>ConcordAI Artificial Intelligence Hackathon</strong></li>
      <li><strong>LHGames</strong></li>
      <li><strong>Hackathon BDC</strong></li>
      <li>2 Capture The Flag</li>
    </ul>
  </div>
  <br style="margin-bottom: 30px;">
  
  
  <!-- Grid for pricing tables -->
  <h3 class="w3-padding-16 w3-text-light-grey">Technical Skills</h3>
  <div class="w3-row-padding" style="margin: 0 -16px">
    <div class="w3-half w3-margin-bottom">
      <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
        <li class="w3-dark-grey w3-xlarge w3-padding-32">Languages</li>
        <li class="w3-padding-16">Python</li>
        <li class="w3-padding-16">Java</li>
        <li class="w3-padding-16">Javascript</li>
        <li class="w3-padding-16">C/C++</li>
        <li class="w3-padding-16">Julia</li>
        <li class="w3-padding-16">HTML5/CSS</li>
      </ul>
    </div>

    <div class="w3-half">
      <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
        <li class="w3-dark-grey w3-xlarge w3-padding-32">Frameworks</li>
        <li class="w3-padding-16">Ionic</li>
        <li class="w3-padding-16">Angular</li>
        <li class="w3-padding-16">React Native</li>
        <li class="w3-padding-16">Node.js</li>
        <li class="w3-padding-16">Flask</li>
        <li class="w3-padding-16">Django</li>
        
      </ul>
    </div>
    <!-- End Grid/Pricing tables -->
  </div>

<!-- Contact Section -->
<div class="w3-padding-64 w3-content w3-text-grey" id="contact" style="padding-bottom: 0!important;">
  <h2 class="w3-text-light-grey">Contact Me</h2>
  <hr style="width: 200px" class="w3-opacity" />

  <div class="w3-section">
    <p>
      <i
        class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"
      ></i>
      Montreal, Canada
    </p>
    <p>
      <i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i>
      Phone: (438)337-3789
    </p>
    <p>
      <i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right">
      </i>
      Email: souleiman.ayoub@polymtl.ca
    </p>
  </div>
  <br />
  
</div>

<div style="display: flex;">
  <div class="social" style="background-color: #3b5998;">
    <i class="fa fa-facebook-square fa-fw w3-text-white w3-xxlarge" style="font-size: 50px !important;"></i>
  </div>
  <div class="social" style="background-color: #0e76a8;">
    <i class="fa fa-linkedin-square fa-fw w3-text-white w3-xxlarge" style="font-size: 50px !important;"></i>
  </div>
  <div class="social" style="background-color: #101010;">
    <i class="fa fa-github fa-fw w3-text-white w3-xxlarge" style="font-size: 50px !important;"></i>
  </div>
</div>
