<h1>My Projects</h1>
<div class="projects-container">
  <div class="row">
    <div class="col" data-aos="zoom-in">
      <app-item-project [project]="this.projects[0]"></app-item-project>
    </div>
    <div class="col" data-aos="zoom-in">
      <app-item-project [project]="this.projects[1]"></app-item-project>
    </div>
    <div class="col" data-aos="zoom-in">
      <app-item-project [project]="this.projects[2]"></app-item-project>
    </div>
  </div>

  <div class="row bigger">
    <div class="col" data-aos="zoom-in">
      <app-item-project [project]="this.projects[3]"></app-item-project>
    </div>
    <div class="col" data-aos="zoom-in">
      <app-item-project [project]="this.projects[4]"></app-item-project>
    </div>
  </div>

  <div class="row bigger">
    <div class="col" data-aos="zoom-in">
      <app-item-project [project]="this.projects[5]"></app-item-project>
    </div>
    <div class="col" data-aos="zoom-in">
      <app-item-project [project]="this.projects[6]"></app-item-project>
    </div>
  </div>

  <div class="row">
    <div class="col" data-aos="zoom-in">
      <app-item-project [project]="this.projects[7]"></app-item-project>
    </div>
    <div class="col" data-aos="zoom-in">
      <app-item-project [project]="this.projects[8]"></app-item-project>
    </div>
    <div class="col" data-aos="zoom-in">
      <app-item-project [project]="this.projects[9]"></app-item-project>
    </div>
  </div>
</div>