.projects-container{
    margin : 10px;
    overflow-x: hidden;
}
.col{
    padding: 10px;
}
.row{
    height : 400px;
}

.bigger{
    height:  500px;
}
h1{
    text-align: center;
    padding : 60px 0 0 0;
    margin-bottom: 0;
    text-decoration: underline;
  }