<div class="otherComponent">
  <div class="componentContainer">
    <h1>Only projects that are open-source are shown below</h1>
    <div class="timeline">
      <div class="container left">
        <div class="content">
          <h2>2020</h2>
          <a href="">
            <p>This website</p>
          </a>
          <a href="https://unilinks.ca/tabs/acceuil" target="_blank">
            <p>Unilinks : A progressive web-app which showcases interuniversity events for students</p>
          </a>
        </div>
      </div>
      <div class="container right">
        <div class="content">
          <h2>2019</h2>
          <a href="https://ayoubsaade.github.io/maisons/" target="_blank">
            <p>Maisons : A website I made for my parents to showcases some of the properties they are trying to sell or
              rent</p>
          </a>
          <a href="https://github.com/souleiman2/ConcordAIHack2019" target="_blank">
            <p>
              ConcordAIHack2019 : Concordia hackathon where we implemented an LSTM model with keras
            </p>
          </a>
          <a href="https://github.com/souleiman2/HackathonBDC2019" target="_blank">
            <p>
              HackathonBDC2019 : We made a back-end that request the data of a server with python and a website to view
              data from a car seller's website
            </p>
          </a>
        </div>
      </div>
      <div class="container left">
        <div class="content">
          <h2>2018</h2>
          <a href="https://souleiman2.github.io/L-system/" target="_blank">
            <p>
              L-system : Implementation of an L-system and some famous examples to illustrate the idea
            </p>
          </a>
          <a href="https://souleiman2.github.io/McGillPhysHack2018/" target="_blank">
            <p>
              McGillPhysHack : Angular velocity in arbitrary dimensions.
            </p>
          </a>
          <a href="https://github.com/souleiman2/ChessAI" target="_blank">
            <p>
              ChessAI : Chess program that I have programmed in python and that integrates many algorithms for the
              artificial
              intelligence. I programmed the chess game, one ANN from scratch and a alpha-beta prunning algorithm. My
              partner implemented the algorithms of different libraries.
            </p>
          </a>
          <a href="https://github.com/souleiman2/Sudoku-Generator" target="_blank">
            <p>
              Sudoku-Generator : A sudoku generator for which I discovered myself the algorithm to make this generator.
            </p>
          </a>
          <a href="https://souleiman2.github.io/HanoiTower/main.html" target="_blank">
            <p>
              HanoiTower : I thought of the algorithm for solving a n-number of bar's hanoi tower using
              Charles's law and later on learned that this could have been done with recursion
            </p>
          </a>
        </div>
      </div>
      <div class="container right">
        <div class="content">
          <h2>2017</h2>
          <a href="https://github.com/LeKo0/TP2_ADC" target="_blank">
            <p>
              Attaque des clones : A game made with java using the swing library.
            </p>
          </a>
          <a href="https://souleiman2.github.io/MenderSponge/main.html" target="_blank">
            <p>
              MenderSponge : coded on p5.js
            </p>
          </a>
          <a href="https://souleiman2.github.io/snake/" target="_blank">
            <p>
              Snake : Also with p5.js
            </p>
          </a>
          <a href="https://github.com/souleiman2/rotation_cube.souleiman" target="_blank">
            <p>
              Rotating cube : Code a rotating cube from scratch
            </p>
          </a>
          <img src="https://raw.githubusercontent.com/souleiman2/rotation_cube.souleiman/master/movie2.gif"
            alt="this slowpoke moves" width=250 />
        </div>
      </div>
      <div class="container left">
        <div class="content">
          <h2>2016</h2>
          <a href="https://github.com/souleiman2/bulls-and-cows">
            <p>Bulls and cows</p>
          </a>
          <a href="https://github.com/souleiman2/Parser">
            <p>Equation parser</p>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>