<!-- Toolbar -->
<app-toolbar></app-toolbar>


<!-- landing page -->
<div class="landing-section">
  <h1>Full Stack, Machine Learning & Blockchain Developer</h1>
  <h2>I love what I do, and I never back down from a challenge</h2>
  <img class="center" src="assets/profile.png" alt="profile pic" id="profile-pic">

  <img class="center" src="assets/computer.png" alt="" id="computer-design">
</div>

<!-- About me section -->
<div id="about">
  <div class="inner-container center">
    <h2 class="sub-title"><span class="numb">01.</span> About me</h2>
    <h1>[Enter title here]</h1>
    <h3>[Enter sub-title]</h3>

    <div class="row">
      <div class="col-block"></div>
    </div>

  </div>
</div>


<!-- Experience -->
<div id="xp">
  <div class="inner-container center">
    <h2 class="sub-title"><span class="numb">01.</span> About me</h2>
  </div>  
</div>

<!-- Work -->
<div class="center" id="work">
  <h2 class="sub-title"><span class="numb">01.</span> About me</h2>
</div>

<!-- Contact -->
<div class="center" id="contact">
  <h2 class="sub-title"><span class="numb">01.</span> About me</h2>
</div>

<!-- Terminal -->
<!-- <div class="content" role="main">
  <input type="hidden" #selection />

  <div class="card-container">
    <button class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>New Component</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'material'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>Angular Material</span>
    </button>
  </div>


  <div class="terminal" [ngSwitch]="selection.value">
    <pre *ngSwitchDefault>ng generate component xyz</pre>
    <pre *ngSwitchCase="'material'">ng add @angular/material</pre>
    <pre *ngSwitchCase="'pwa'">ng add @angular/pwa</pre>
    <pre *ngSwitchCase="'dependency'">ng add _____</pre>
    <pre *ngSwitchCase="'test'">ng test</pre>
    <pre *ngSwitchCase="'build'">ng build</pre>
  </div>
</div> -->
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>

<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>
<p>askdmasld</p>

<router-outlet></router-outlet>