/* 
nav {
    width: calc(100vw - 8em);
    position: absolute;
    top: 3em;
    font-size: larger;
}
nav p {
    display: inline-block;
    padding: 10px;
}
.nav-links {
    float: right;
}
.nav-links:hover{
    cursor: pointer;
}
.link {
    color: #23aaf2;
    border-width: 2px;
    border-style: solid;
    padding: 4px;
    border-radius: 5px;
    font-weight: bold;
}
.link:hover{
    background-color: #23aaf2;
    color: rgba(255, 255, 255, 0.75);;
    border-color: #23aaf2;
}
#lastname {
    padding-left : 0;
    font-weight: bold;
    font-size: large;
}

@media only screen and (max-width: 670px) {
    nav{
        display: contents;
    }
    .nav-links{
        width : 100%;
    }
    nav p{
        width : 100%;
    }

} */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}