<!-- Toolbar -->
<app-toolbar></app-toolbar>

<!-- landing page -->
<div class="landing-section">
  <h1>{{languageService.label_voc.title}}</h1>
  <h2>{{languageService.label_voc.sub_title}}</h2>
  <img
    class="center"
    src="assets/profile.png"
    alt="profile pic"
    id="profile-pic"
  />

  <img class="center" src="assets/computer.png" alt="" id="computer-design" />
</div>

<!-- About me section -->
<div id="about">
  <div class="inner-container center">
    <h2 class="sub-title"><span class="numb">01.</span> {{languageService.label_voc.about_title}}</h2>
    <h1>
      {{languageService.label_voc.about_desc}}
    </h1>

    <div class="row">
      <div class="col-block">
        <fa-icon [icon]="faGraduationCap"></fa-icon>
        <h2>{{languageService.label_voc.about_education_title}}</h2>
        <p>- {{languageService.label_voc.about_education_poly}}</p>
        <p>- {{languageService.label_voc.about_education_cegep}}</p>
        <p>- {{languageService.label_voc.about_education_beaubois}}</p>
      </div>
      <div class="col-block">
        <fa-icon [icon]="faLanguage"></fa-icon>
        <h2>{{languageService.label_voc.about_language_title}}</h2>
        <p>- {{languageService.label_voc.about_language_french}}</p>
        <p>- {{languageService.label_voc.about_language_english}}</p>
      </div>
      <div class="col-block">
        <fa-icon [icon]="faAward"></fa-icon>
        <h2>{{languageService.label_voc.about_scholarships_title}}</h2>
        <p>
          - {{languageService.label_voc.about_scholarships_poly}}
        </p>
        <p>
          - {{languageService.label_voc.about_scholarships_admission}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-block">
        <fa-icon [icon]="faCertificate"></fa-icon>
        <h2>{{languageService.label_voc.about_certification_title}}</h2>
        <p>
          - {{languageService.label_voc.about_certification_aws_spec}}
        </p>
        <p>- {{languageService.label_voc.about_certification_aws_found}}</p>
      </div>
      <div class="col-block">
        <fa-icon [icon]="faFire"></fa-icon>
        <h2>{{languageService.label_voc.about_hack_title}}</h2>
        <p>- {{languageService.label_voc.about_hack_google}}</p>
        <p>- {{languageService.label_voc.about_hack_mcgillphys}}</p>
        <p>- {{languageService.label_voc.about_hack_aiudem}}</p>
        <p>- {{languageService.label_voc.about_hack_hackqc}}</p>
        <p>- {{languageService.label_voc.about_hack_concoAI}}</p>
        <p>- {{languageService.label_voc.about_hack_lhgames}}</p>
        <p>- {{languageService.label_voc.about_hack_bdc}}</p>
        <p>- {{languageService.label_voc.about_hack_capture_flag}}</p>
      </div>
      <div class="col-block">
        <fa-icon [icon]="faTrophy"></fa-icon>
        <h2>{{languageService.label_voc.about_reward_title}}</h2>
        <p>- {{languageService.label_voc.about_reward_pitch}}</p>
        <p>
          - {{languageService.label_voc.about_reward_math}}
        </p>
      </div>
    </div>
  </div>
</div>


<!-- Experience -->
<div id="xp">
  <div class="inner-container center">
    <h2 class="sub-title"><span class="numb">02.</span> {{languageService.label_voc.experience_title}}</h2>
  </div>
  <app-experience id="experience"></app-experience>
</div>

<!-- Work -->
<div class="center" id="projects">
  <div class="inner-container center">
    <h2 class="sub-title"><span class="numb">03.</span> {{languageService.label_voc.project_title}}</h2>
    
    <!-- Features Projects -->
    <div>
      <app-project
        *ngFor="let elem of languageService.featured_projects"
        [project]="elem"
      ></app-project>
    </div>
    
    <h2 class="other">{{languageService.label_voc.other_notebook_title}}</h2>

    <div class="grid-project">
      <app-other-project
        *ngFor="let elem of languageService.noteworthy_projects"
        [project]="elem"
      ></app-other-project>
    </div>
  </div>
</div>


<!-- Skills -->
<div class="center" id="skills">
  <div class="inner-container center">
    <h2 class="sub-title"><span class="numb">04.</span> {{languageService.label_voc.skill_title}}</h2>

    <!-- programming languages
      Python - Java - Typescript - Javascript - HTML - CSS - SCSS - C/C++ - Solidity - Kotlin - SQL - Git

      Front end
      Angular - React - React Native - Redux - Bootstrap - Web/Android/IOS - Ionic

      Backend
      Flask - Django - Kubernetes - AWS - Azure - NodeJS - Firebase - Docker - Elasticsearch - Logstash - Kibana - PostgreSQL - MongoDB - Dynamodb


      Machine learning
      Tensorflow - Sklearn - Statsmodels - Matplotlib - Seaborn - Numpy - Scipy - Pandas - NLTK
      -->
    <div class="container">
      <div class="container-item" *ngFor="let item of languageService.skills">
        <app-skill-item
          [icon]="item.icon"
          title="{{ item.title }}"
          content="{{ item.content }}"
        ></app-skill-item>
      </div>
    </div>
  </div>
</div>

<!-- Contact -->
<div class="center" id="contact">
  <div class="inner-container center">
    <h2 class="sub-title center-text"><span class="numb">05.</span> {{languageService.label_voc.contact_title}}</h2>
    <h1>{{languageService.label_voc.contact_intouch}}</h1>
    <h2 class="description">
      {{languageService.label_voc.contact_message}}
    </h2>
    <a
      class="email-link"
      href="mailto:souleiman.ayoub@gmail.com"
      rel="noopener noreferrer"
      target="_blank"
      >{{languageService.label_voc.contact_hello}}</a
    >

    <!-- social networks -->
    <div class="social-net">
      <a
        href="https://www.linkedin.com/in/souleiman-ayoub-b82748165/"
        target="_blank"
      >
        <i
          class="fa fa-linkedin-square fa-fw w3-text-white w3-xxlarge"
          style="font-size: 50px !important"
        ></i>
      </a>
      <a href="https://github.com/souleiman2" target="_blank">
        <i
          class="fa fa-github fa-fw w3-text-white w3-xxlarge"
          style="font-size: 50px !important"
        ></i>
      </a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
