<!-- Toolbar -->
<app-toolbar></app-toolbar>

<!-- landing page -->
<div class="landing-section">
  <h1>Full Stack, Machine Learning & Blockchain Developer</h1>
  <h2>I love what I do, and I never back down from a challenge</h2>
  <img
    class="center"
    src="assets/profile.png"
    alt="profile pic"
    id="profile-pic"
  />

  <img class="center" src="assets/computer.png" alt="" id="computer-design" />
</div>

<!-- About me section -->
<div id="about">
  <div class="inner-container center">
    <h2 class="sub-title"><span class="numb">01.</span> About me</h2>
    <h1>
      I’ve studied at Polytechnique in software engineering. I describe myself
      as a person with integrity, hardworking and passionate. Combining my two
      greatest passions, mathematics and programming, I have been challenging
      myself by developing software for 8 years now. Finally, I think that good
      communication is what makes a great team.
    </h1>

    <div class="row">
      <div class="col-block">
        <fa-icon [icon]="faGraduationCap"></fa-icon>
        <h2>Education</h2>
        <p>- Polytechnique Montreal (2018 - 2021)</p>
        <p>- Cegep Bois-de-Boulogne (2016 - 2018)</p>
        <p>- Beaubois College (2011 - 2016)</p>
      </div>
      <div class="col-block">
        <fa-icon [icon]="faLanguage"></fa-icon>
        <h2>Languages</h2>
        <p>- French (Native)</p>
        <p>- English (Native)</p>
      </div>
      <div class="col-block">
        <fa-icon [icon]="faAward"></fa-icon>
        <h2>Scolarships</h2>
        <p>
          - Mention of Excellence for outstanding performance at Polytechnique
          Montreal (GPA : 3,63/4)
        </p>
        <p>
          - Recipient of the Admission Excellence Scholarship at Polytechnique
          Montreal
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-block">
        <fa-icon [icon]="faCertificate"></fa-icon>
        <h2>Certifications</h2>
        <p>
          - Recipient of the AWS Certified Machine Learning Specialty
          certification
        </p>
        <p>- Recipient of the AWS Cloud Practitioner certification</p>
      </div>
      <div class="col-block">
        <fa-icon [icon]="faFire"></fa-icon>
        <h2>Hackathon</h2>
        <p>- Google Tech Challenge</p>
        <p>- McGill Physics Hackathon - 4th place</p>
        <p>- AI Hackathon at UdeM 6th place</p>
        <p>- HackQC (3 days): environmental website</p>
        <p>- ConcordAI Artificial Intelligence Hackathon</p>
        <p>- LHGames</p>
        <p>- Hackathon BDC</p>
        <p>- 2 Capture The Flag</p>
      </div>
      <div class="col-block">
        <fa-icon [icon]="faTrophy"></fa-icon>
        <h2>Rewards</h2>
        <p>- 2nd place in a pitch competition at Polytechnique Montreal</p>
        <p>
          - 2nd place in a math competition at College Bois-de-Boulogne (COMC)
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Skills -->
<div class="center" id="skills">
  <div class="inner-container center">
    <h2 class="sub-title"><span class="numb">02.</span> Skill</h2>

    <!-- programming languages
      Python - Java - Typescript - Javascript - HTML - CSS - SCSS - C/C++ - Solidity - Kotlin - SQL - Git

      Front end
      Angular - React - React Native - Redux - Bootstrap - Web/Android/IOS - Ionic

      Backend
      Flask - Django - Kubernetes - AWS - Azure - NodeJS - Firebase - Docker - Elasticsearch - Logstash - Kibana - PostgreSQL - MongoDB - Dynamodb


      Machine learning
      Tensorflow - Sklearn - Statsmodels - Matplotlib - Seaborn - Numpy - Scipy - Pandas - NLTK
      -->
    <div class="container">
      <div class="container-item" *ngFor="let item of skills">
        <app-skill-item
          [icon]="item.icon"
          title="{{ item.title }}"
          content="{{ item.content }}"
        ></app-skill-item>
      </div>
    </div>
  </div>
</div>

<!-- Experience -->
<div id="xp">
  <div class="inner-container center">
    <h2 class="sub-title"><span class="numb">03.</span> Experience</h2>
  </div>
  <app-experience id="experience"></app-experience>
</div>

<!-- Work -->
<div class="center" id="projects">
  <div class="inner-container center">
    <h2 class="sub-title"><span class="numb">04.</span> Projects</h2>

    <!-- Features Projects -->
    <div>
      <app-project
        *ngFor="let elem of featured_projects"
        [project]="elem"
      ></app-project>
    </div>
    <h2 class="other">Other Noteworthy Projects</h2>

    

  </div>
</div>

<!-- Contact -->
<div class="center" id="contact">
  <div class="inner-container center">
    <h2 class="sub-title center-text"><span class="numb">05.</span> Contact</h2>
    <h1>Get In Touch</h1>
    <h2 class="description">
      Feel free to reach out to me. I am always looking for new opportunities.
    </h2>
    <a
      class="email-link"
      href="mailto:souleiman.ayoub@gmail.com"
      rel="noopener noreferrer"
      target="_blank"
      >Say Hello</a
    >

    <!-- social networks -->
    <div class="social-net">
      <a
        href="https://www.linkedin.com/in/souleiman-ayoub-b82748165/"
        target="_blank"
      >
        <i
          class="fa fa-linkedin-square fa-fw w3-text-white w3-xxlarge"
          style="font-size: 50px !important"
        ></i>
      </a>
      <a href="https://github.com/souleiman2" target="_blank">
        <i
          class="fa fa-github fa-fw w3-text-white w3-xxlarge"
          style="font-size: 50px !important"
        ></i>
      </a>
    </div>
  </div>
</div>

<!-- Terminal -->
<!-- <div class="content" role="main">
  <input type="hidden" #selection />

  <div class="card-container">
    <button class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>New Component</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'material'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>Angular Material</span>
    </button>
  </div>


  <div class="terminal" [ngSwitch]="selection.value">
    <pre *ngSwitchDefault>ng generate component xyz</pre>
    <pre *ngSwitchCase="'material'">ng add @angular/material</pre>
    <pre *ngSwitchCase="'pwa'">ng add @angular/pwa</pre>
    <pre *ngSwitchCase="'dependency'">ng add _____</pre>
    <pre *ngSwitchCase="'test'">ng test</pre>
    <pre *ngSwitchCase="'build'">ng build</pre>
  </div>
</div> -->

<router-outlet></router-outlet>
