:root{
    --white: #fff;
    --dark-white: #ddd;

    --gray: #33383E;
    --lighter-gray : #cfcbc5;
    --light-gray : #9B9A98;

    --light-purple : #a276ec;
    --light-purple-tint : rgba(162, 118, 236, 0.1);
    
    --light-black: #181a1b;
}