<h1>My Timeline</h1>

<div class="timeline">
  <div class="container left">
    <div class="content" data-aos="fade-right">
      <h2>2021</h2>
      <app-education-item
        *ngFor="let elem of this.education_infos['2021']"
        [education]="elem"
      ></app-education-item>
    </div>
  </div>
  <div class="container right">
    <div class="content" data-aos="fade-left">
      <h2>2020</h2>
      <app-education-item
        *ngFor="let elem of this.education_infos['2020']"
        [education]="elem"
      ></app-education-item>
    </div>
  </div>
  <div class="container left">
    <div class="content" data-aos="fade-right">
      <h2>2018</h2>
      <app-education-item
        *ngFor="let elem of this.education_infos['2018']"
        [education]="elem"
      ></app-education-item>
    </div>
  </div>
  <div class="container right">
    <div class="content" data-aos="fade-left">
      <h2>2016</h2>
      <app-education-item
        *ngFor="let elem of this.education_infos['2016']"
        [education]="elem"
      ></app-education-item>
    </div>
  </div>
</div>
