<div id="navbar" class="toolbar" role="banner">
  <span id="logo">SA</span>
  <!-- <img alt="Logo" src="assets/logo.png" /> -->
  <div class="spacer"></div>
  <a *ngFor="let item of languageService.toolbar_sections; let i = index" href="{{ item.url }}" class="sections">
    <span id="num">0{{ i + 1 }}. </span>
    <span id="label">{{ item.label }}</span>
  </a>
  <button class="tool-btn" (click)="toggleLanguage()">{{trans_lang()}}</button>
  <!-- Resume button -->
  <a download href="assets/Souleiman_Ayoub.docx">
    <button class="tool-btn">{{languageService.label_voc.toolbar_resume}}</button>
  </a>
  
</div>