@import "assets/Montserrat.css";
/* @import 'assets/w3.css'; */

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
  -webkit-transition: left 5s ease;
  -moz-transition: left 5s ease;
  -o-transition: left 5s ease;
  transition: left 5s ease;
}
