@import 'assets/Montserrat.css';

body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}

/* html {
    margin: 0;
}
body {
    overflow: hidden;
    position: absolute;
    margin: 0px;
    font-family: "Anonymous Pro", monospace;
    background-color: rgb(25, 25, 25);
    height: calc(100vh - 8em);
    width: calc(100vw - 8em);
    padding: 3em;
    color: rgba(255, 255, 255, 0.75);
}
.otherComponent {
    position: relative;
    top: 6em;
    width: 100vw;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 8em);
    transform: translate(-3em, 0);
}
.otherComponent::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    background-color: rgb(25, 25, 25);
}

.otherComponent::-webkit-scrollbar {
    width: 12px;
    background-color: rgb(25, 25, 25);
}

.otherComponent::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    background-color: white;
}

.componentContainer {
    padding-left: 3em;
    padding-right: 3em;
}

@media only screen and (max-width: 670px) {
    body {
        overflow-y: auto;
        padding: 1em;
    }
    .otherComponent{
        max-height: none;
        position: static;
    }
    .otherComponent::-webkit-scrollbar-track {
        display: none;
    }
    .otherComponent::-webkit-scrollbar-thumb {
        display: none;
    }
} */
